@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

$font__main: YuGothic, Helvetica, sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__caption: "Montserrat", sans-serif;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.62;
$font__line-height-pre: 1.62;
