.site {
	padding: 8vh 0;
	@include if-phone {
		padding: 0 0 4vh 0;
	}
}
.content {
	&__main {
		max-width: 1280px;
		margin: 0 auto;
	}
	&__contents {
		width: 77.85% - $columns__margin;
		@include if-phone {
			width: 100%;
			padding: 1.62em 0;
		}
	}
	&__container {
		margin: 0 4vw;
		section {
			&.section {
				margin-bottom: 4em;
				@include if-phone {
					margin-bottom: 2em;
				}
				.section__caption {
					font-family: $font__caption;
					@include font-size(1.36);
					font-weight: 700;
					margin-bottom: .5em;
					letter-spacing: .05em;
				}
			}
			&.section__flex {
				display: flex;
				@include if-phone {
					flex-direction: column;
				}
			}
		}
	}
	&__breadcrumbs {
		text-align: right;
		margin-bottom: 1em;
		@include font-size(0.72);
		letter-spacing: .05em;
		@include if-phone {
			display: none;
		}
	}
}


/* TOP PAGE */
.index {
	&__page_header {
		position: relative;
		margin-bottom: 8vh;
		@include if-phone {
			margin-bottom: 0;
		}
		#index__main_image {
			top: 0;
			height: auto;
			width: 100%;
			padding-top: 62%;
			position: relative;
		}
	}
}


/* ARTICLE UNITS */
.article {
	&__list {
		// margin-bottom: 2em;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
		&_unit {
			@include column-width($numberColumns: 3);
			@include if-phone {
				@include column-width($numberColumns: 1);
			}
			margin-bottom: 2em;
			&_thumb {
				width: 100%;
				height: auto;
				padding-top: 62%;
				position: relative;
				&:hover {
					opacity: .88;
				}
				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: $color__background-screen;
					object-fit: cover;
				}
			}
			&.blog {
				@include column-width($numberColumns: 4);
				@include if-phone {
					@include column-width($numberColumns: 2);
				}
			}
			&.product {
				@include column-width($numberColumns: 3);
				@include if-phone {
					@include column-width($numberColumns: 1);
				}
			}
			&.column {
				@include column-width($numberColumns: 2);
				@include if-phone {
					@include column-width($numberColumns: 1);
				}
			}
			header {
				padding-top: .75em;
				@include font-size(0.88);
			}
			&_title {
				margin-bottom: .15em;
				a {
					color: $color__text-main;
					text-decoration: none;
					&:hover {
						color: $color__link;
					}
				}
			}
			&_info {
				color: $color__link;
				@include font-size(0.72);
				a {
					text-decoration: none;
				}
			}
		}
		&_pagenation {
			margin: 0 auto 5em auto;
			text-align: center;
			.page-numbers {
				&:after {
					content: '/';
					color: $color__link;
					margin: 0 0 0 .35em;
				}
				&:last-child {
					&:after {
						content: '';
					}
				}
			}
			a {
				text-decoration: none;
			}
		}
	}
}


/* ARTICLE POST */
.post {
	&__header {
		margin-bottom: 2em;
		&_title {
			@include font-size(1.62);
			//margin-bottom: 1em;
			&_english {
				font-family: $font__caption;
				@include font-size(1);
			}
		}
		&_meta {
			font-family: $font__caption;
			@include font-size(0.88);
			color: $color__link;
			margin-top: 1em;
		}
	}
	&__content {
		line-height: $font__line-height-body;
		p {
			margin-bottom: 1em;
		}
		img {
			margin-bottom: 1em;
		}
		&_flex {
			display: flex;
			@include if-phone {
				flex-direction: column;
			}
		}
		&_side {
			@include column-width($numberColumns: 4);
			flex: 1;
			@include font-size(0.78);
			letter-spacing: .05em;
			word-break: keep-all;
			line-height: 2;
			font-family: $font__caption;
			color: $color__link;
			@include if-phone {
				@include column-width($numberColumns: 1);
				order: 2;
				margin-top: 2em;
			}
		}
		&_main {
			width: 77.85% - $columns__margin;
			padding-left: $columns__margin;
			@include if-phone {
				@include column-width($numberColumns: 1);
				padding-left: 0;
			}
		}
		&_shoplist {
			p {
				margin-bottom: .5em;
			}
			li {
				list-style: none;
				margin-bottom: 1.62em;
			}
			h4 {
				margin-bottom: .5em;
				font-weight: bold;
			}
		}
	}
}
.wp-caption-text {
	@include font-size(0.80);
	color: $color__link;
}



/* 署名表示 Simple Author Box override */
.saboxplugin {
	&-wrap {
		border: none;
		margin-top: 3em !important;
		padding-top: 1em !important;
		border-top: 2px solid #000;
	}
	&-gravatar {
		padding: 1em 2em 1em 0 !important;
		img {
			max-width: 82px !important;
			max-height: 82px !important;
		}
	}
	&-authorname {
		margin: 1em 0 0 0;
		@include font-size(1.62);
		font-weight: bold;
		a {
			color: #000 !important;
			&:hover {
				color: $color__link;
			}
		}
	}
	&-desc {
		margin: .5em 0 !important;
		line-height: 1.62;
	}
}
