.site-footer {
	width: $size__site-main;
	&__logo {
		@include column-width($numberColumns: 8);
		margin: 0 auto .25em auto;
		img {
			width: 100%;
		}
	}
	&__info {
		@include font-size(0.72);
		line-height: 2;
		text-align: center;
	}
}
