#page {
	padding: 8vh 0;
}
.content {
	&__main {
		max-width: 1280px;
		margin: 0 auto;
	}
	&__contents {
		width: 77.85% - $columns__margin;
		@include if-phone {
			width: 100%;
		}
	}
	&__container {
		margin: 0 4vw;
		section {
			&.section {
				margin-bottom: 4vh;
				.section__caption {
					font-family: $font__caption;
					@include font-size(1.36);
					font-weight: 700;
					margin-bottom: .5em;
					letter-spacing: .05em;
				}
			}
			&.section__flex {
				display: flex;
			}
		}
	}
	&__breadcrumbs {
		text-align: right;
		margin-bottom: 1em;
		@include font-size(0.72);
		letter-spacing: .05em;
	}
}


/* TOP PAGE */
.index {
	&__page_header {
		position: relative;
		margin-bottom: 8vh;
		#index__main_image {
			top: 0;
			height: auto;
			width: 100%;
			padding-top: 62%;
			position: relative;
		}
		.nav__main {
			position: absolute;
			top: 5vh;
			left: 3vw;
			z-index: 1;
		}
	}
}


/* ARTICLE UNITS */
.article {
	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
		&_unit {
			@include column-width($numberColumns: 3);
			@include if-phone {
				@include column-width($numberColumns: 1);
			}
			margin-bottom: 4vh;
			&_thumb {
				width: 100%;
				height: auto;
				padding-top: 62%;
				position: relative;
				&:hover {
					opacity: .88;
				}
				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: $color__background-screen;
					object-fit: cover;
				}
			}
			&.blog {
				@include column-width($numberColumns: 4);
				@include if-phone {
					@include column-width($numberColumns: 2);
				}
			}
			&.product {
				@include column-width($numberColumns: 3);
				@include if-phone {
					@include column-width($numberColumns: 1);
				}
			}
			&.column {
				@include column-width($numberColumns: 2);
				@include if-phone {
					@include column-width($numberColumns: 1);
				}
			}
			header {
				padding-top: .75em;
				@include font-size(0.88);
			}
			&_title {
				margin-bottom: .15em;
				a {
					color: $color__text-main;
					text-decoration: none;
					&:hover {
						color: $color__link;
					}
				}
			}
			&_info {
				color: $color__link;
				a {
					text-decoration: none;
				}
			}
		}
		&_pagenation {
			margin: 3em auto 5em auto;
			text-align: center;
			.page-numbers {
				&:after {
					content: '/';
					color: $color__link;
					margin: 0 0 0 .35em;
				}
				&:last-child {
					&:after {
						content: '';
					}
				}
			}
			a {
				text-decoration: none;
			}
		}
	}
}


/* ARTICLE POST */
.post {
	&__header {
		margin-bottom: 2em;
		&_title {
			@include font-size(1.62);
			margin-bottom: 1em;
		}
		&_meta {
			font-family: $font__caption;
			@include font-size(0.88);
			color: $color__link;
			margin-bottom: 1em;
		}
	}
	&__content {
		line-height: $font__line-height-body;
		p {
			margin-bottom: 1em;
		}
	}
}


.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
