.nav {
	&__main {
		flex: 1;
		@include column-width($numberColumns: 4);
		font-family: $font__caption;
		@include font-size(1.36);
		margin: 0 0 .5em 0;
		letter-spacing: .05em;
		line-height: 2;
		&_logo {
			width: 48px;
			margin-bottom: 1em;
			img {
				width: 100%;
			}
		}
		.index__page_header & {
			a {
				color: $color__background-body;
			}
		}
		ul {
			margin: 0;
			padding: 0;
			font-weight: 700;
			li {
				list-style: none;
				.sub-menu {
					display: none;
				}
				&.current-menu-item,
				&.current_page_item {
					a {
						color: $color__text-main;
					}
				}
				&.menu-item-has-children.current-menu-item,
				&.current-menu-ancestor {
					.sub-menu {
						display: block;
						@include font-size(1.08);
						padding: .5em 0 .5em 1em;
						font-weight: 400;
					}
				}
			}
			a {
				text-decoration: none;
				&:hover {
					color: $color__text-main;
				}
			}
		}
		&_link {
			padding-top: .75em;
			span {
				padding-right: .75em;
				img {
					width: 24px;
				}
			}
		}
	}
}




.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}
