.nav {
	&__main {
		flex: 1;
		@include column-width($numberColumns: 4);
		@include if-phone {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			background: #fff;
			padding: 1em 0;
		}
		&_logo {
			width: 48px;
			margin-bottom: 2em;
			line-height: 0;
			@include if-phone {
				width: 32px;
				margin: 0 auto 0 0;
			}
			img {
				width: 100%;
			}
			a {
				&:hover {
					opacity: .6;
				}
			}
		}
		ul {
			font-family: $font__caption;
			@include font-size(1.36);
			margin: 0 0 .5em 0;
			letter-spacing: .05em;
			line-height: 2;
			padding: 0;
			font-weight: 700;
			li {
				list-style: none;
				.sub-menu {
					display: none;
				}
				&.current-menu-item,
				&.current_page_item,
				&.current-post-ancestor .current-post-parent,
				&.current-post-ancestor.current-menu-parent  {
					a {
						color: #000;
					}
				}
				&.menu-item-has-children.current-menu-item,
				&.current-menu-ancestor,
				&.current-post-parent {
					.sub-menu {
						display: block;
						@include font-size(1.08);
						padding: .5em 0 .5em 1em;
						font-weight: 400;
					}
				}
			}
			a {
				text-decoration: none;
				&:hover {
					color: $color__text-main;
				}
			}
		}
		&_link {
			padding-top: .75em;
			a {
				&:hover {
					opacity: .6;
				}
			}
			span {
				padding-right: .75em;
				img {
					width: 24px;
				}
			}
		}
	}
}


.nav {
  a {
    color: #000;
    text-decoration: none;
  }
}
.nav__wrap {
	a {
		color: $color__link;
		text-decoration: none;
	}
	&_logo {
		display: none;
	}
	&.open {
	  display: block;
	}
	&.close {
		display: none;
	}
	@include if-desktop {
		display: block !important;
	}
}
.nav__button {
  display: none;
}

@include if-phone {
  .nav__button {
    display: block;
    cursor: pointer;
  }
  .nav__wrap {
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    z-index: 10;
    background-color: #fff;
    width: 100%;
    height: 100%;
		padding: 1.62em;
		&_logo {
			display: block;
			width: 48px;
			margin-bottom: 0;
		}
    .nav {
      height: 100%;
      position: relative;
      overflow-x: hidden;
      overflow-y: auto;
    }
		ul {
			padding: 1em 0 0 0;
		}
    li {
      display: block;
    }
  }
  /*メニューボタンのエフェクト*/
  .nav__button,
  .nav__button span {
    display: inline-block;
    transition: all 0.4s;
    box-sizing: border-box;
  }
  .nav__button {
    z-index: 20;
    position: relative;
    width: 28px;
    height: 22px;
  }
  .nav__button span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .nav__button span:nth-of-type(1) {
    top: 0;
  }
  .nav__button span:nth-of-type(2) {
    top: 10px;
  }
  .nav__button span:nth-of-type(3) {
    bottom: 0;
  }
  .nav__button.active span:nth-of-type(1) {
    -webkit-transform: translateY(10px) rotate(-45deg);
    transform: translateY(10px) rotate(-45deg);
  }
  .nav__button.active span:nth-of-type(2) {
    opacity: 0;
  }
  .nav__button.active span:nth-of-type(3) {
    -webkit-transform: translateY(-10px) rotate(45deg);
    transform: translateY(-10px) rotate(45deg);
  }
}

/* TOPページ */
.index__page_header {
	.nav__main {
		position: absolute;
		top: 5vh;
		left: 3vw;
		z-index: 1;
		@include if-phone {
			display: none;
		}
	}
	a {
		color: #fff;
	}
}
